@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');


*{
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.FotoPrincipal {
    background-image: url(./img/1\ titulo.png);
    height: 45vh;
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.FotoPrincipal2 {
    background-image: url(./img/133.png);
    height: 55vh;
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}

.btn-primary {
    background-color: rgb(137, 176, 164);
    }


.img {
    display: flex;

}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}



/*:::::Pie de Pagina*/

.pie-pagina{
    width: 100%;
    background-color: #22425e;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
/*fin de footer*/

/*go up

html {
    scroll-behavior: smooth;
}

.body{
    margin: 0;
    padding: 0;
}
section{
    width: 100%;
    height: 300vh;
    background-color: url() no-repeat;
    background-size:cover ;
}

.gotopbutton{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #22425e;
    bottom: 40px;
    right:50px ;
    text-decoration: none;
    line-height: 50px;
    text-align: center;

}

/*

.go-top-container {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 6rem;
    height: 6.6;
    z-index: -1;

}
.go-top-button {
    width: 0rem;
    height: 0rem;
    background-color: aqua;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

}

.go-top-button i{
    position: absolute;
    font-size: 1rem;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0);
    color: white;
    transition: .2s;

}

*/

/*Comienzo de media quieris*/

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

@media screen and ( max-width: 780px ) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
                "caja1 caja2"
                "caja3 caja4"
                "caja5 caja6";
                    }
                
} 

@media screen and (max-width: 480px ) {

    .container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
                "caja1"
                "caja2"    
                "caja3" 
                "caja4"
                "caja5"
                "caja6";
            }           
}


/*media quieris*/




